.main {
    height: 100vh;
    max-width: 200rem;
    align-items: stretch; */
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    /* padding: 80px, 182px, 80px, 182px; */
}

.header {
    height: 6.8rem;
    width: inherit;
    display: flex;
    flex-direction: row;
    padding: 0px 182px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--back-1);
}

.headerL{
    display: flex;
    align-items: center;
    width: 15%;
    height: 3rem;
}

.headerR {
    align-items: center;
    width: 70%;
    height: 3.6rem;
    display: flex;
    gap: 4.8rem;
    justify-content: flex-end;
    flex-direction: row;
}

.a {
    text-decoration: none;
    color: inherit; 
    font-family: inherit; 
    font-weight: 700;
    font-size: 1.3rem;
}

.GSbutton {
    background-color: var(--logo);
    color: white; 
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    padding: 10px 16px;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content1 {
    height: 108rem;
    display: flex;
    padding: 0rem 18.2rem 8rem 18.2rem;
    flex-direction: column;
    align-items: center;
    gap: 0.32rem;
    align-self: stretch;
}

.cover_img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.text {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    text-align: center;
    justify-content: center;
    width: 55%;
    margin: 0 auto;
}

.STbutton {
    background-color: var(--logo);
    color: white; 
    padding: 2rem 3rem; 
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

.content2 {
    display: flex;
    padding: 8rem 18.2rem;
    justify-content: center;
    align-items: center; 
    gap: 10.3rem;
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.AI_img {
    display: flex;
    width: 72.6rem;
    height: 36.3rem;
    align-self: stretch; 
}

.text_2 {
    display: flex;
    height: 36.3rem;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    text-align: left !important;
}

.h22 {
    font-size: 2.2rem;
    height: 36.3rem;
}


.content3 {
    display: flex;
    padding: 8rem 18.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
    align-self: stretch;
}

.img_3 {
    flex-direction: row;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2.4rem;
    align-self: stretch;
}

.text_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    align-self: stretch;
}

.content4 {
    display: flex;
    padding: 8rem 18.2rem;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10.3rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.The_benefits {
    display: flex;
    height: 72.6rem;
    width: 72.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.text_4 {
    display: flex;
    min-width: 65rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    flex: 1 0 0;
    font-size: 1.6rem;
}

.content5 {
    display: flex;
    padding: 8rem 18.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    align-self: stretch;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 24px;
    align-self: stretch;
}

.box {
    display: flex;
    height: 516px;
    min-width: 650px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    border: 1px solid #000;

}

.img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
}

.p {
    padding: 10px;
    text-align: center;
}

.text_5 {
    display: flex;
    min-width: 50rem;
    flex-direction: column;
    flex: 1 0 0;
}

.content6 {
    display: flex;
    padding: 80px 182px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 103px;
    flex-wrap: wrap;
    align-self: stretch;
}

.Token {
    display: flex;
    width: 76.6rem;
    height: 47.3rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.text_6 {
    display: flex;
    min-width: 50rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.footer {
    height: 8rem;
    width: 100%;
    padding: 0 18.2rem;
    gap: 0.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    align-self: stretch;
    flex-wrap: wrap;
}

.footerL {
    display: flex;
    align-items: center;
    width: 50.1rem;
    height: 3.6rem;
    display: flex;
    gap: 4.8rem;
}

.footerR {
    display: flex;
    padding: 2.4rem;
    justify-content: flex-end;
    align-items: center;
    gap: 4.8rem;
}
